.root {}

.h1 {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  padding-bottom: 10px;
}

.h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  padding-bottom: 5px;
}

.h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.h2work {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
}

.h3work {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  min-width: 65px;
}

.h4work {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}

.h2h {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  background-color: rgb(238, 232, 225);
  margin-right: 0;
}

.LWing{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
}